@import '../../styles/colors';

.playlist-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  .playlist-card__thumbnail-container {
    position: relative;
    min-width: 260px;
    width: 260px;
    height: 170px;
    overflow: hidden;
    margin-right: 15px;
    @media screen and (max-width: 500px) {
      width: 200px;
      min-width: 200px;
    }

    .playlist-card__thumbnail {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .playlist-card__playlist-length {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      bottom: 0%;
      right: 0%;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 1px 5px;
      border-radius: 2px;
      width: 40%;
      height: 100%;
      p {
        color: $main-bg;
        font-size: 1.3rem;
        margin-bottom: 5px;
      }
    }
  }
}

.playlist-card__meta {
  display: flex;
  gap: 5px;
  flex-direction: column;
  .playlist-card__title {
    color: $main-text;
    font-weight: 500;
  }
  .playlist-card__more-details {
    display: flex;
    flex-direction: row;
    gap: 10px;
    @media screen and (max-width: 500px) {
      flex-direction: column;
      h5 {
        &:not(:last-child) {
          &::after {
            content: '' !important;
          }
        }
      }
    }

    h5 {
      color: $gray100;
      font-weight: 400;
      &:not(:last-child) {
        &::after {
          content: '•';
          margin-left: 5px;
        }
      }
    }
  }
  .playlist-card__description {
    display: inline-block;
    color: $gray100;
    font-weight: 400;

    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    line-height: 1.6rem;
    max-height: 3.6rem;

    @media screen and (max-width: 500px) {
      display: none;
    }
  }
}
