@import '../../styles/colors';

.search-controllers {
  display: flex;
  align-items: center;
  .search-controllers__input-container {
    position: relative;
    flex-grow: 0.6;
    .search-controllers__input {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border: $border;
      padding: 10px 15px;
      width: 100%;
      outline: none;
      &:focus {
        border: $borderActive;
      }
    }
    .search-controllers__close-icon {
      position: absolute;
      right: 4%;
      top: 25%;
      cursor: pointer;
    }
  }
}

.search-controllers__search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray300;
  width: 60px;
  height: 37px;
  padding: 4px;
  border: $border;
  cursor: pointer;
  @media screen and (max-width: 500px) {
    background-color: $primary-color;
    border: none;
    width: 40px;
    svg {
      fill: $main-bg !important;
    }
  }

  svg {
    fill: $gray100;
    height: 100%;
    width: 100%;
  }
}
