@import '../../styles/colors';

.navbar-layout {
  width: 100%;
  background-color: $main-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: $shadow;
  align-items: center;
  position: fixed;
  z-index: 100;
}
.navbar {
  padding: 10px 0;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 500px) {
    background-color: $primary-color;
    position: relative;
    top: 0px;
  }

  .navbar__container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    @media screen and (min-width: 500px) {
      gap: 5%;
    }
  }
}
